a{
    size: 200px;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    font-weight:20px;
    text-decoration: none;
    color: white;
}
.bhome{
    background-image: url(/Portrait/pexels-jess-bailey-designs-743986.jpg);
    background-attachment:fixed ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}
.home{
        margin-left: 30px;
    }
.name,.gupta{
    font-size: 30px;
    font-family:cursive;
}
.name{
    /* margin-left: 200px; */
    float: left;
}
.namediv{
    display: flex;
}
.name1,.gupta1{
    font-size: 50px;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
}
.name1{
    color: white;
}
.gupta1{
    color: orange;
}
.hhome{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: black;
    opacity: 85%;
}
#typing-text{
    margin-top: 20px;
    margin-left: 40px;
    color: orange;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-style: bold;
    font-size: 40px;
    font-family: monospace;
    white-space: pre-wrap;
    display: flex;
}
/* #typing-text{
    font-size: 20px;
    font-family: monospace;
    white-space: pre-wrap;
    color: white;
} */
/* .hello{
    color: orange;
    margin-top: 0px;
    margin-left: 80px;
} */
.introimg{
    display: inline;
}
.icon{
    float: left;
    list-style-type: none;
    font-size: 10px;
    padding-right: 20px;
    border-right: 1px white solid;

}
.intro{
    list-style-type: none;
    float: right;
    /* margin-right: 200px; */
    margin-top: 50px;
 }
.image{
    margin: 10px 10px 10px 80px;
    border-style: solid ;
    border-image: darkblue;
    border-radius: 5%;
    /* float: left; */
}
/* #email{
    margin-left: 300px;
    float: right;
    margin-right: 10px;
    color: white;
} */
.gupta{
    color: orange;
}

li{
    font-weight: bold;
    font-size: 20px;
    color: orange;
}
.nav{
    float: right;
    font-size: 10px;
}
#home{
    margin-left: 100px;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
