input{
    background: white;
    /* color: white; */
    opacity: 75%;
    width: 59%;
    padding: 15px;
    /* margin: auto; */
    border-style: none;
    border-bottom: 2px gray dashed;
    /* margin-left: 280px; */
}
/* p{
    margin: auto;
    color: orange;
    font-size: 50px;
    font-family: monospace;
    font-style: oblique;
} */
.aman{
    position: top;
}
/* div{
    margin-left: 200px; ;
} */
.hcontact{
    width: 60%;
    color: white;
    padding: 20px;
    margin-top:  120px;
    /* opacity: 75%; */
    background-color: black;
    margin-left: 280px;
}

.bcontact{
    background-image: url("../images/pexels-pixabay-459203.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

    /* width: 100%; */
    z-index: -1;
   
    
}
h1{
    padding-left: 176px;
}
.formdiv a{
    margin-left: 100px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
button{
    margin-left: 500px;
    color: black;
    font-weight: bolder;
    background-color: rgb(183, 158, 94);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: solid 1px;
    opacity: 75%;
}
.contact{
    margin: auto;
    border: solid black 2px;
}
#fill{
    color: white;
    font-size: 15px;
    margin-left: 130px;
}
#typing-text{
    text-align: center;
}
